<div *ngIf="!selected" class="table-responsive">
  <table class="table table-dark table-hover">
    <table>
      <thead>
        <tr>
          <th>Types of Conventions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of categories">
          <td [routerLink]="['/category/'+ c.id]">{{c.name}}</td>
          <td>
            <button (click)="displayEditForm(c)">Update Category</button>
          </td>
        </tr>
      </tbody>
    </table>
  </table>
  <blockquote>Didnt see your type of convention? Add one</blockquote>
</div>

<div *ngIf="!selected">
  <input class="form-control" type="text" name="name" [(ngModel)]="newCategory.name" placeholder="Add Category" />
  <div class="d-grid gap-2">
    <input class="btn btn-primary" type="submit" name="submit" value="Add Category"
      (click)="addCategory(newCategory)" />
  </div>
</div>

<div *ngIf="selected && !editCategory">
  <h1>{{selected.name}}</h1>
  <input type="text" name="name" [(ngModel)]="selected.name">
  <input (click)="updateCategory(selected.id, selected)" class="btn btn-primary" name="submit" type="submit"
    value="Save">
  <button class="btn btn-primary" (click)="displayTable()">Cancel</button>
</div>
